<h1><%= @post.title %></h1>
<%= link_to "All posts", posts_path %>

<p>
<%= @post.body %>
</p>

<%= commentator(
  url: comments_path(post_id: @post.id),
  comments: @post.comments_commentator_json(self),
  comment_template: "comments/comment",
  reply_template: "comments/reply"
) %>
